:root {
  --button-color: #262d3a;
  --drawer-color: rgba(38, 45, 58, 0.4);
  --text-color: #f9eae5;
  --background-color: #080706;
  --link-color: rgba(80, 100, 120, 1);
  --inactive-color: #262d3a;
  --active-color: #aaba3d;
  --slider-color: #262d3a;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

output {
  font-family: monospace;
}

label {
  white-space: nowrap;
  float: left;
}

#glcanvas {
  aspect-ratio: 1/1;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#drawing {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0%;
  display: flex;
  justify-content: center;
  touch-action: none;
}

#buttons {
  grid-gap: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
}

.buttonGroup button {
  width: 100%;
}

button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 1fr;
  font-family: monospace;
  overflow: clip;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--slider-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.buttonGroup {
  display: inline-block;
  bottom: 0;
  align-self: flex-end;
}

.buttonContent {
  border: 1ch solid transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--drawer-color);
}

#buttons input[type=number] {
  width: 4em;
  background: 0;
  border: 0;
  color: var(--text-color)
}

#buttons select {
  background: 0;
  border: 0;
  color: var(--text-color);
}

.option label {
  display: block;
  text-align: right;
}

.option {
    display: grid;
}

#buttons label span {
  background-color: var(--slider-color);
}

#animationRadio {
  display: flex;
  justify-content: center;
}

#animationRadio input[type="radio"] {
  display: none;
}

#animationRadio label {
  display: inline-block;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

#animationRadio input[type="radio"]:checked+label {
  background-color: var(--button-color);
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label[for=animationToggle] {
  cursor: pointer;
  background: var(--inactive-color);
  display: block;
  position: relative;
  color: transparent;
}

input:checked + label {
  background: var(--active-color);
}
